%btnTpl {
    width: 200px;
    height: 30px;
    margin: 10px 20px 20px 20px;
    border: 0px black solid;
    border-radius: 3%;
    display: inline-block;
}
.test {
    height: 1000px;
    width: 600px;
    background-color: aquamarine;
}

.columnWrapper {
    position: relative;
    height: 100%;
    width: 280px;
    margin: 55px 15px;
    overflow: hidden;

    .column {
        position: absolute;
        background-color: #ebecf0;
        word-break: break-all;
        width: 100%;
        min-height: 80px;
        border-radius: 3%;

        .columnTitle {
            font-weight: 600;
            margin: 15px 20px 15px 20px;
        }
        .addCardDataTextArea {
            margin: 10px;
            padding: 10px 10px 40px 10px;
            width: 240px;
            border-radius: 3%;
            border: 0px black solid;
        }

        .addCardBtn {
            @extend %btnTpl;
            color: gray;
        }
        .addCardBtn_active {
            @extend %btnTpl;
            color: silver;
            background-color: #e23434;
        }

        .addCardBtn_active:hover {
            @extend %btnTpl;
            transition: all 0.5s;
            color: white;
            background-color: #af0101;
        }
        .cancelIcon {
            position: absolute;
            bottom: 26px;
        }
        .cancelIcon:hover {
            width: 18px;
            height: 18px;
            position: absolute;
            bottom: 24px;
        }

        .addCardBtn:hover {
            @extend %btnTpl;
            transition: all 0.5s;
            color: white;
            background-color: rgb(155, 155, 155);
        }
    }
}
